/*#region common settings*/
* {
  padding: 0;
  margin: 0;
}
.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}
.custom-color-yellow {
  color: #ffd15e;
}
.custom-color-black {
  color: #000000;
}
.custom-font-size-58 {
  font-size: 58px;
}
.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  color: #ffd15e;
}

/*#endregion common settings*/

/*#region navbar*/
.navbar {
  color: black;
}
/*#endregion navbar*/

/*#region banner-top*/
.banner-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/banner_bg.jpg);
  background-size: cover;
  background-position: 20% 50%;
}
.fitness-gym-logo {
  height: 190px;
}
.image-gallery-button {
  width: 100%;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFC63D;
  border: 2px solid #FFC63D;
}
.image-gallery-button:hover {
  background-color: white;
  border: 2px solid white;
}
.recorded-classes-button {
  width: 100%;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: 2px solid #FFC63D;
  background: transparent;
}
.recorded-classes-button:hover {
  color: black;
  background-color: white;
  border: 2px solid white
}
.freepick-link {
  color: white;
}
.freepick-link:hover {
  color: #e6e6e6;
  text-decoration: none;
}
.down-logo {
  height: 58px;
}
.offcanvas-start {
  opacity: 0.9;
}
@media only screen and (min-width: 800px) {
  .image-gallery-button {
    width: 49%;
  }

  .recorded-classes-button {
    width: 49%;
  }
}
@media only screen and (min-width: 1000px) {
  .image-gallery-button {
    width: 30%;
  }

  .recorded-classes-button {
    width: 30%;
  }
}
/*#endregion banner-top*/

/*#region Gym services*/
.service-card {
  padding: 0;
}
.service-logo {
  position: relative;
  z-index: 999;
  background-color: white;
  translate: 0px 60px;
  height: 90px;
  border: 5px solid #FDC43D;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-card-body {
  padding-top: 100px;
  background-color: #FDC43D;
}
.forward-logo {
  height: 30px;
  margin-bottom: 20px;
}
.custom-font-size-48 {
  font-size: 48px;
}
@media only screen and (min-width: 992px) {
  .services-segment{
    min-height: 100vh;
  }
}

/*#endregion Gym services*/

/*#region canvas-tour-booking*/
.canvas-tour-booking {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/banner_2.jpg);
  background-size: cover;
  background-position: top center;
  padding: 250px 0px 100px 0px;
}
.book-a-tour-button {
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFC63D;
  border: 2px solid #FFC63D;
}
/*#endregion canvas-tour-booking*/

/*#region canvas-learnmore-contactus*/
.button-learnmore {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFC63D;
  border: 2px solid #FFC63D;
}
.button-learnmore:hover{
  color: #FFFFFF;
  background-color: #000000;
  border: 2px solid #000000;
}
.button-contactus {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #FFC63D;
}
.button-contactus:hover{
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
}
.freepick-link-2 {
  color: #000000;
}
.freepick-link-2:hover {
  color: #000000;
}
.learn-more-and-contactus {
  background: linear-gradient(
    to bottom, 
    white 0%,
    white 80%,
    #FFC63D 80%,
    #FFC63D 100%

  );
}
@media only screen and (min-width: 992px) {
  .learnmore-segment {
    padding: 150px 0px 0px 0px;
  }
  .contactus-segment {
    padding: 190px 0px 0px 100px;
  }
  .workout_img1 {
    translate: 0 100px;
  }
  .button-contactus {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
}
/*#endregion canvas-learnmore-contactus*/

/*#region benefits-of-sports-training*/
.benifits-of-sport-training-segment{
  background-color: #FFC63D;
}
.benifits-card{
  background-color: #FFFFFF;
  padding: 50px 25px;
}
.more-info{
  color: black;
}
.more-info:hover{
  color: black;
}
@media only screen and (min-width: 992px) {
  .benifits-of-sport-training-segment{
    min-height: 100vh;
  }
}
/*#endregion benefits-of-sports-training*/

/*#region book-your-workout*/
.book-your-workout{
  background: linear-gradient(
    to top, 
    white 0%,
    white 60%,
    #FFC63D 60%,
    #FFC63D 100%

  );
}
.workout-img {
  height: 300px;
  width: 100%;
}
.submit-button{
  background-color: #FDC43D;
  border: 2px solid #FDC43D;
}
.submit-button:hover{
  background-color: #000000;
  border-color: 2px solid #000000;
  color: #FFFFFF;
}
.phone-number{
  text-decoration: none;
}
.phone-number:hover{
  color: #FDC43D;
}
@media only screen and (min-width: 768px) {
  .translate-100 {
    translate: 0 100px;
  }
}
/*#endregion book-your-workout*/

/*#region membership-options*/
.membership-options{
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #FFFFFF 30%), /* Transparent on the left, solid color on the right */
    url('./images/banner_3.jpg') no-repeat center top / 70% auto; /* Image on the left */
  background-size: cover; /* Adjust as needed */
  
}
.membership-card{
  background-color: #FFFFFF;
  border: 2px solid #FDC43D;
}
.inquire-button {
  padding: 15px 50px;
  background-color: #FDC43D;
  border: 2px solid #FDC43D;
}
.inquire-button:hover {
  background-color: white;
  border: 2px solid grey;
} 
/*#endregion membership-options*/

/*#region amenities*/
.custom-height-400 {
  height: 400px;
}
.pool-jaccuzi{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg1.jpg);;
  background-size: cover;
  background-position: center;
}
.studio{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg2.jpg);;
  background-size: cover;
  background-position: center;
}
.lounge-cafe{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg3.jpg);;
  background-size: cover;
  background-position: center;
}
.sauna{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg4.jpg);;
  background-size: cover;
  background-position: center;
}
.outdoor-space{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg5.jpg);;
  background-size: cover;
  background-position: center;
}
.basketball-court{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/card_bg6.jpg);;
  background-size: cover;
  background-position: center;
}
.amenities-button{
  padding: 10px 30px;
  background-color: #FDC43D;
  border: 2px solid #FDC43D;
}
.amenities-button:hover{
  background-color: black;
  border: 2px solid black;
  color: white;
}
/*#endregion amenities*/

/*#region canvas-follow-on-instagram*/
/*#region canvas-follow-on-instagram*/